@use '/src/styles/vuetify/settings.scss';

body {
  font-size: 0.9375rem;
}

.rc-container {
  background-color: rgba(var(--v-theme-grey-100));
  max-width: 1218px;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  &.rc-container-center {
    display: flex;
    justify-content: center;
  }

  .rc-container-content {
    width: 100%;
  }

  @media #{map-get(settings.$display-breakpoints, 'md-and-up')} {
    background-color: white;
    padding-bottom: 4rem;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &.rc-container-max-md {
    @media #{map-get(settings.$display-breakpoints, 'md-and-up')} {
        max-width: 888px;
    }
  }

  &.rc-container-max-lg {
    @media #{map-get(settings.$display-breakpoints, 'lg-and-up')} {
        max-width: 1218px;
    }
  }

  &.rc-container-max-xl {
    @media #{map-get(settings.$display-breakpoints, 'lg-and-up')} {
      max-width: 1600px;
    }
  }
}
