@use '/src/styles/vuetify/settings.scss';

.rc-field-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .rc-tooltip-activator-btn {
    display: inline-flex;
    flex: 0 0 1rem;
    height: 1.25rem;
    margin-left: .25rem;
    width: 1.25rem;
  }

  .rc-tooltip-mobile {
    display: inline-flex;
  }

  .rc-tooltip-desktop {
    display: none;
  }

  .rc-field-labels {
    display: flex;
    flex-direction: column;
    flex-grow: 1;


    .rc-field-description {
      margin-bottom: 0.25rem;
    }
  }

  .text-subtitle-2 {
    color: rgb(var(--v-theme-grey-600));
  }

  .rc-field-content {
    position: relative;
    width: 100%;

    &.rc-field-content--variant-outlined {
      border-radius: 4px;
      border: 1px solid rgb(var(--v-theme-grey-500));
    }
  }

  .rc-input-error {
    width: 100%;
    padding-top: 0.375rem;
  }

  @media #{map-get(settings.$display-breakpoints, 'md-and-up')} {
    flex-direction: row;

    .rc-tooltip-activator-btn {
      margin-left: 0;
      position: absolute;
      right: -1.3rem;
      top: .65rem;
    }

    .rc-tooltip-mobile {
      display: none;
    }

    .rc-tooltip-desktop {
      display: inline-flex;
      flex: 0 0 1rem;
      outline: none;
    }

    .rc-field-labels {
      flex: 0 0 243px;
      align-content: center;
      justify-content: start;
      margin: .75rem 1.5rem 0 0;
    }

    label {
      display: block;
      line-height: 1rem;
      text-align: right;
    }

    .rc-field-label-title {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      label {
        display: inline-block;
      }
    }
  }
}
