@use '/src/styles/vuetify/settings.scss';

.rc-checkbox-field {
  width: 100%;

  .v-card {
    padding: 1rem 1.25rem;
  }

  .rc-field-labels {
    align-self: flex-start
  }

  @media #{map-get(settings.$display-breakpoints, 'md-and-up')} {
    .rc-field-labels {
      align-self: center;
    }
  }
}
